---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import LinkedInIcon from "src/images/LinkedInIcon.astro";
import Image from "astro/components/Image.astro";
import MailIcon from "src/images/MailIcon.astro";
import GitHubIcon from "../images/GitHubIcon.astro"
import ListaDeLaCompraFoto from "../images/lista-de-la-compra-foto2.png"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!--<div class="text-xl py-1">Muy buenas 游녦</div>-->
    <!--
      <div class="foto-container">
        <img class="foto" src="/profile.webp"/>
      </div>
     -->
    <div class="icons-bar">
      <a href="mailto:plajommj000@gmail.com" target="_blank" class="icon-container">
        <MailIcon class="icon mail-icon"/>
      </a>
      <a href="https://www.linkedin.com/in/pablo-mendez-jimenez-33349a18b/" target="_blank" class="icon-container">
        <LinkedInIcon class="icon"/>
      </a>
      <a href="https://github.com/pabloski0000" target="_blank" class="icon-container">
        <GitHubIcon class="icon github-icon"/>
      </a>
    </div>
    <h1 class="text-5xl font-bold mb-3">Pablo M칠ndez</h1>
    <!--<div class="title">
      <h1 class="text-5xl font-bold">I'm Manuel Ernesto</h1>
      <div class="foto-container">
        <img class="foto" src="/profile.webp"/>
      </div>
    </div>-->
    <!-- <div class="text-3xl font-bold py-3 mb-1 pb-0">Desarrollador Full Stack y Android</div> -->
    <div class="pb-2">
      <text class="text-lg">
        2 a침os de <b>experiencia</b> como desarrollador <b>Full Stack</b> y <b>Android</b>. Track record de desarrollo de productos de software para empresas privadas, el sector p칰blico y cliente directo. Experiencia tanto empresarial como freelance a niveles nacional e internacional.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Proyectos personales {"</>"}</div>
  </div>

  <HorizontalCard
    title="Lista de la compra compartida"
    img={ListaDeLaCompraFoto}
    desc={`PWA para iOS y Android. Se desarroll칩 para solucionar problemas de coordinaci칩n en grupos de m치s dos personas.
     En mi caso vino a solucionar problemas de organizaci칩n familiar`}
    url="https://github.com/pabloski0000/lista-de-la-compra-backend"
    badge="NUEVO"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>

<style>
  .title {
    display: flex;
    align-items: center;
  }
  .foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 150px;
    height: 100px;
    margin-bottom: 0px;
  }
  .foto {
    border-radius: 999px;
    height: 100%;
  }
  .icons-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .icon-container {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--rounded-btn, .5rem);
  }
  .icon {
    width: 100%;
    height: auto;
    transition-duration: 50ms;
    box-sizing: content-box;
  }
  @media(hover: hover) and (pointer: fine) {
    .icon:hover {
      transition-duration: 100ms;
      scale: 1.4;
    }
  }
  @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
  @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
  @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
  @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }

</style>
